    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
    
    h1 {
        background-color: darkseagreen;
    }
    
    h2 {
        margin-top: 5px;
    }